body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-image: url(../src/assets/img/bg/bgHome.jpg);
}
